body{
font-family:Arial;
margin:30px;
}

h1{
text-align:center;
}

input,select{
padding:8px;
margin-right:10px;
}

button{
padding:8px 12px;
cursor:pointer;
}

table{
width:100%;
border-collapse:collapse;
margin-top:20px;
}

table,th,td{
border:1px solid #ccc;
}

th,td{
padding:10px;
text-align:center;
}

.highlight{
background:yellow;
}

.delete-btn{
background:red;
color:white;
border:none;
padding:5px 10px;
}

#thongKe{
margin-top:15px;
font-weight:bold;
}